page-search-new {
.backcard{
  background-color: #eeeeee;


}
  .ilosc{

    text-align: right;
    text-align: end;
  }
  .avatartext{
   float:left;
  //  aligin: right;
   text-align: center;
    vertical-align: middle;
    margin-left:9%;
    margin-top:3%;
    font-size: larger;


    }.avatarbuuton{
       float:left;
       //  aligin: right;

      ion-content:start;




     }
  .ion-grid {
    height: 100%;

    .ion-row {
      height: 33.33%;
    }
  }
  }

