<!--
  Generated template for the Search2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="nav">
    <ion-buttons start>
      <button ion-button >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title >
      Najlepszy trener
    </ion-title>
    <ion-buttons end>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="searchbckground">

  <ion-row>
    <ion-col col-2>



    </ion-col>

    <ion-col col-8>
<ion-row>
  <h1>Wyniki wyszukiwania dla :</h1>
</ion-row>


<ion-row>


  <ion-item  >
    <ion-label>Dyscypliny</ion-label>
    <ion-select [(ngModel)]="dyscyplina" >
      <ion-option *ngFor="let   dyscyplina of Dysciplines" [value]="  dyscyplina"></ion-option>
    </ion-select>
  </ion-item>

</ion-row>
      <ion-row>
        <h1>
          W miejscowości
        </h1>




      </ion-row>

      <ion-row >

        <ion-item>
          <ion-label fixed>Poznań</ion-label>

        </ion-item>
      </ion-row>
<ion-row>
<p></p>
</ion-row>
      <ion-row >
        <ion-item>
          <ion-label fixed>Miejsce</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

      </ion-row>
<ion-row>
<p></p>
</ion-row>
<ion-row>


  <!--<ion-item  >-->
    <!--<ion-label>Płeć</ion-label>-->
    <!--<ion-select [(ngModel)]="gender" >-->
      <!--<ion-option *ngFor="let gender   of genders" [value]="gender"></ion-option>-->
    <!--</ion-select>-->
  <!--</ion-item>-->

  <button ion-button color="buutonlight" full (click)=showRadio()  ><h2>Płec</h2></button>

</ion-row>
<ion-row>
<p></p>
</ion-row>
<ion-row >
  <ion-item>
    <ion-label><h1>Wiek</h1> </ion-label>
    <ion-range dualKnobs="true" [(ngModel)]="structure" min="10" max="100" step="1" snaps="true" pin="true">
      <ion-icon range-left  name="md-square"></ion-icon>
      <ion-icon range-right name="md-square"></ion-icon>
    </ion-range>

  </ion-item>
</ion-row>
<ion-row>
  <p></p>
</ion-row>



      <ion-row >
        <ion-item>
          <ion-label><h1>Cena</h1> </ion-label>
          <ion-range dualKnobs="true" [(ngModel)]="structure2" min="0" max="300" step="10" snaps="true" pin="true">
            <ion-icon range-left  name="md-square"></ion-icon>
            <ion-icon range-right name="md-square"></ion-icon>
          </ion-range>

        </ion-item>
      </ion-row>

<ion-row>
  <p></p>
</ion-row>
        <ion-row text-right>
<ion-col col-12>



        <span>        <button ion-button clear="true" color="wyczyscbuuton">Wyczyść</button>
            <button ion-button large color="filtrWynikow">Filtruj</button> </span>
</ion-col>
        </ion-row>




    </ion-col>

    <ion-col col-2>


    </ion-col>
  </ion-row>

</ion-content>
