<!--
  Generated template for the ProfilViewMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="nav">
    <ion-buttons start>
      <!--<button ion-button>-->
        <!--<ion-icon name="contact"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Menu
    </ion-title>
    <ion-title >
      Najlepszy trener
    </ion-title>
    <ion-buttons end>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-menu [content]="mycontent" [persistent]="true" [enabled]="true">
    <ion-content>
      <ion-list>
        <button expand="block" color="success" ion-item (click)="openPage('EducationPorfilPage')">
        Wykształcenie
      </button>
        <button expand="block" color="success" ion-item (click)="openPage('ExperienceProfillPage')">
          Doświadczenie
        </button>
        <button expand="block"  color="success" ion-item (click)="openPage('PlacesProfilPage')">
          Miejsca
        </button>
        <button expand="block" color="success" ion-item (click)="openPage('PriceListProfillPage')">
          Cennik
        </button>
        <button expand="block" color="success" ion-item (click)="openPage('GalleryProfilPage')">
          Galeria
        </button>
        <button expand="block"  color="success" ion-item (click)="openPage('OpinionProfillPage')">
          Opinie
        </button> <button expand="block"  color="success" ion-item (click)="openPage('CallendarProfillPage')">
        Kalendarz
      </button>

        <button expand="block"  color="success" ion-item (click)="closeMenu()">
          Close Menu
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="ProfilViewMenuPage"></ion-nav>
  <ion-grid>


    <ion-row
      justify-content-center>
      <ion-col col-12 text-center  style="border: 1px solid;border-radius: 5px">
        <ion-row>
          <ion-col text-left="">

            <button ion-button (click)="backtoprofiles" >
              <ion-icon ios="ios-undo" md="md-undo"></ion-icon>

            </button>


          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-12 text-left>
            {{item.name}} {{item.surname}}


          </ion-col>
          <ion-col col-12 text-left>
            <ionic3-star-rating
              activeIcon = "ios-star"
              defaultIcon = "ios-star"
              activeColor = "#3cdaa8"
              defaultColor = "#d4f9ed"
              readonly="true"
              [rating]=item.rating>
            </ionic3-star-rating>

          </ion-col>
          <ion-col>
            <ion-row>

              <ion-col col-12="" text-left>
                <ion-item *ngFor="let opp of item.tr_loc let i = index" (click)="onCheckItem(i)">

                  {{opp.city}}
                  {{opp.voivodeship}}

                </ion-item>

              </ion-col>
              <ion-col col-4 text-right>

                {{item.rating}}/5
              </ion-col>

            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-7>

            <img style="width: 200px; height: 200px;" src="./assets/imgs/silacz.jpg"/>


          </ion-col>



        </ion-row>
        <ion-card-content>
          <ion-card>

            <ion-col>
              <ion-row text-left>
                <ion-icon name="call" style="padding-left: 5px;padding-right: 5px"></ion-icon> Numer Telefonu
              </ion-row>
              <ion-row text-left>

                <div style="padding-left: 25px">
                  {{item.phone}}

                </div>

              </ion-row>
              <ion-row><p></p></ion-row>
              <ion-row text-left>
                <ion-icon name="mail" style="padding-left: 5px;padding-right: 5px"></ion-icon>
                Email



              </ion-row>
              <ion-row text-left>

                <div style="padding-left: 25px">
                  {{item.email}}

                </div>

              </ion-row>

              <ion-row>
                <ion-row><p></p></ion-row>
                <ion-col col-6 text-left="">
                  <ion-icon ios="logo-facebook" md="logo-facebook" ></ion-icon>
                  Facebook
                  <ion-row>

                    <ion-icon ios="logo-instagram" md="logo-instagram" ></ion-icon>



                    Instagram

                  </ion-row>






                  <ion-row>
                    <ion-icon ios="ios-at" md="md-at"></ion-icon> Strona WWW



                  </ion-row>
                </ion-col>
                <ion-row><p></p></ion-row>
              </ion-row>








            </ion-col>
















          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon>
              Doświadczenie i umiejetności.
            </ion-card-header>
            <ion-card-content>
              {{item.tr_cert}}
              <ion-row>
                <ion-col text-left="">
                  Umiejetności.


                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left="">
                  {{item.description}}



                  <ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> {{searchParams.dysc}}


                </ion-col>
              </ion-row>

            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-icon ios="ios-school" md="md-school"></ion-icon> Wykształcenie.
            </ion-card-header>
            <ion-card-content>
              {{item.tr_uni}}
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
              Galeria
            </ion-card-header>
            <ion-card-content>
              Tutaj powinna znajdować sie galeria zdjeć.
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-icon ios="ios-book" md="md-book"></ion-icon>
              Opinie
            </ion-card-header>
            <ion-card-content>

              <ion-item *ngFor="let opp of item.tr_op let i = index" (click)="onCheckItem(i)">

                <ion-card>
                  <ion-card-header>
                    <h5 ion-text color="danger">Opiniodawca: {{opp.opinionGiver}}</h5>
                  </ion-card-header>
                  <ion-card-content>
                    <h5 ion-text color="danger">Opinia: {{opp.opinion}}</h5>
                  </ion-card-content>
                </ion-card>






              </ion-item>







              <form [formGroup]="opinionforms"  (ngSubmit)="Opinionform()" padding>

                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Imie :</ion-label>
                      <ion-input type="text" placeholder="" [(ngModel)]="Opinions.name" formControlName="opinionuser"
                                 required>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Email:</ion-label>
                      <ion-input type="text" placeholder="" [(ngModel)]="Opinions.email" formControlName="email"
                                 required>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Ocena:</ion-label>
                      <ion-input type="number" placeholder="" [(ngModel)]="Opinions.rating" formControlName="ocena"
                                 required>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-item>
                  <ion-label  stacked>Opinia Urzytkownika</ion-label>
                  <ion-textarea placeholder="" [(ngModel)]="Opinions.opinion"
                                formControlName="Opinionss"
                                required></ion-textarea>

                </ion-item>
                <ion-row>
                  <ion-col text-right>

                    <button ion-button color="secondary"color="light" type="submit"[disabled]="! opinionforms.valid">Dodaj Opinie</button>


                  </ion-col>


                </ion-row>



              </form>





              The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-col>



    </ion-row>
  </ion-grid>


</ion-content>

